* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 170;
  --primary-color: hsl(var(--hue), 80%, 36%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);
  --bg-light: hsl(180, 14%, 97%);
  font-size: 62.5%;
  --nav-height: 7.2rem;
}

::-webkit-scrollbar {
  background: rgb(233, 230, 230);
  width: 0.8rem;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--bg-light);
}

li {
  list-style: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  margin: 5rem 0;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

#services .card circle {
  fill: var(--brand-light);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*="#00856F"],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: rgb(0, 0, 0);
}

#navigation.scroll button.open-menu path[stroke*="#00856F"] {
  stroke: rgb(0, 0, 0);
}

/*=== NAVIGATION =================================*/
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  padding: 3rem 0rem;
}

.logo img {
  width: 20rem;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED =================================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded .logo > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(-100%);
  transition: transform 300ms;
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  padding: 16px 32px;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;
  filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*===================  MAIN  ===================*/

main {
  display: block;
  margin: auto;
  padding: 5rem 2rem;
  background-color: var(--bg-color);
  border-radius: 1rem;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 5rem;
  flex-direction: column;
}

#home img {
  width: 35rem;
  height: 35rem;
  border-radius: 1rem;
  box-shadow: 3rem -3rem var(--primary-color);
}

#home h1 span {
  color: var(--primary-color);
}

#home .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

#home .container h1 {
  font-size: 3rem;
}

#home .container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--primary-color);
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(196, 196, 196);
  font-weight: 700;
  color: white;
}

#home .container a:hover {
  filter: brightness(1.2);
}

#home .container a:active {
  filter: brightness(0.8);
}

.divider-1 {
  height: 3px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 3px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

#services article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services article .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  text-align: justify;
  flex-wrap: wrap;
}

#services article .description ul {
  text-align: left;
}

#services article .description ul li {
  list-style: disc;
}

#services article img {
  width: 15rem;
  height: 15rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.171);
  border-radius: 1rem;
  box-shadow: 2rem -2rem var(--primary-color);
  z-index: 1;
  margin: 4rem 0rem;
}

#services .description h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

#backToTopButton img {
  width: 4rem;
}

#about {
  padding: 5rem 1rem;
  background-image: url(./assets/parede-de-tijolos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  margin: 5rem 0rem;

}

#about .description {
  background-color: #000000a6;
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(0.5rem);
}

#about .description h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

#about .description p {
  font-size: 1.6rem;
  color: #ffffff;
  text-indent: 2rem;
}

#backToTopButton {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: 0;
  opacity: 0;
  visibility: hidden;
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translateY(100%);
  transition: 200ms;
  cursor: pointer;
  padding: 0.5rem;
}

#backToTopButton:hover {
  filter: brightness(1.2);
}

#backToTopButton:active {
  filter: brightness(0.8);
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#contact iframe {
  width: 35rem;
  height: 32rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(196, 196, 196);
}

.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
  padding: 5rem 2rem 0rem;
}

#contact .contatos h1 {
  font-size: 3rem;
}

#contact .contatos form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#contact .contatos #email {
  width: 35rem;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(196, 196, 196);
}

#contact .contatos #textarea {
  width: 35rem;
  height: 10rem;
  padding: 0rem 0.7rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(196, 196, 196);
}

#contact .contatos #submit-btn {
  width: 35rem;
  height: 5rem;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(196, 196, 196);
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
}

#contact .contatos #submit-btn:hover {
  filter: brightness(1.2);
}

#contact .contatos #submit-btn:active {
  filter: brightness(0.8);
}

#contact .contatos hr {
  width: 60%;
}

.contact-alternative {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.contact-alternative a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--primary-color);
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(196, 196, 196);
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
}

.contact-alternative a:hover {
  filter: brightness(1.2);
}

.contact-alternative a:active {
  filter: brightness(0.8);
}

/*===================  FOOTER  ===================*/

footer  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  background-color: var(--primary-color);
  box-shadow: -0.1rem -0.1rem 0.5rem rgb(196, 196, 196);
}

footer .reference {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

footer .reference img {
  width: 20rem;
}

footer blockquote {
  opacity: 0.5;
  margin-top: 10rem;
  background-color: var(--bg-color);
}

@media (min-width: 1024px) {
  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 5rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*=== NAVIGATION =================================*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: black;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: white;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    position: relative;
    bottom: -2rem;
    left: -0.5rem;
    display: block;
    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }


  /*============== HOME ===========*/
  
  main {
    padding-inline: 15rem;
  }

  #home {
    flex-direction: row;
  }

  #services article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #services article img {
    width: 20rem;
    height: 20rem;
  }

  #services article .description {
    text-align: left;
    width: 70%;
  }

  #about {
    padding: 5rem 10rem;
  }

  footer {
    padding-inline: 15rem;
    padding-block: 0rem;
  }

  footer .contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #contact {
    width: 50rem;
  }

  .contatos iframe {
    width: 40rem;
    height: 36rem;
  }
  footer blockquote {
    margin-bottom: 5rem;
  }

}